<%= form_for(@question, html: {class: "form-horizontal"}) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field control-group">
    <div class="control-label"><%= f.label :qtext%></div>
    <div class="controls"><%= f.text_area :qtext, :size => "60x3" %></div>
  </div>
  <div class="field control-group">
    <div class="control-label"><%= f.label :difficulty %></div>
    <div class="controls"><%= f.number_field :difficulty %></div>
  </div>
  <div class="field control-group">
    <div class="control-label"><%= f.label :Category %></div>
    <div class="controls"><%= f.text_field :Category %></div>
  </div>
  <div class="field control-group">
    <div class="control-label"><%= f.label :Language %></div>
    <div class="controls">
    	<select>
    		<option id="1">Python</option>
    		<option id="2">Java</option>
    	</select>
<!-- adding %= and uncommenting gives this error and I'm not sure why 
	undefined method `map' for nil:NilClass     
also, how case sensitive is Ruby? It seems that the code in class has lower case where I have capital.
	 <f.collection_select :Language_id, @Languages, :id, :name %>-->
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
