<%= link_to 'Create a question', new_question_path, class: 'btn btn-primary' %> <br /><br />

<table class="table table-condensed table-striped table-hover">
  <tr>
  	<th class="span1">
  		<div class="btn btn-xsmall"><%= sortable "votes", "Votes"%></div>
    	<%= helptxt "Up votes increase this. Down votes decrease it." %>
    </th>
    <th class="span1">
    	<div class="btn btn-xsmall"><%= sortable "category_id", "Category" %></div>
    	<%= helptxt "The category that the question falls into." %>
    </th>
    <th class="span5">
    	<div class="btn btn-xsmall"><%= sortable "qtext", "Question" %></div>
    	<%= helptxt "The text of the question itself." %>
    </th>
    <th class="span1">
    	<div class="btn btn-xsmall"><%= sortable "difficulty", "Difficulty" %></div>
    	<%= helptxt "The average difficulty of a question." %>
    </th>
    <th class="span1">
    	<div class="btn btn-xsmall"><%= sortable "language_id", "Language" %></div>
    	<%= helptxt "The recommended language(s) for the question to be answered in." %>
    </th>
  </tr>

<% @questions.each do |question| %>
  <tr>
    <td class="span1"><%= question.votes %></td>
    <td class="span1"><%= question.category_name %></td>
    <td class="span5"><%= question.qtext %></td>
    <td class="span1"><%= question.difficulty %></td>
    <td class="span1"><%= question.language_name %></td>
  </tr>
<% end %>
</table>

