<table class="table table-condensed table-striped table-hover">
  <tr>
  	<th class="span1">
    	<a href="#" role="button" class="btn popover-test" rel="popover" data-placement="top" 
    	data-content="Up votes increase this. Down votes decrease it.">
    	Votes
    	</a>
    </th>
    <th class="span1">
    	<a href="#" role="button" class="btn popover-test" rel="popover" data-placement="top" 
    	data-content="The category that the question falls into.">
    	Category
    	</a>
    </th>
    <th class="span5">
    	<a href="#" role="button" class="btn popover-test" rel="popover" data-placement="top" 
    	data-content="The text of the question itself.">
    	Question
    	</a>
    </th>
    <th class="span1">
    	<a href="#" role="button" class="btn popover-test" rel="popover" data-placement="top" 
    	data-content="The average difficulty of a question.">
    	Difficulty
    	</a>
    </th>
    <th class="span1">
    	<a href="#" role="button" class="btn popover-test" rel="popover" data-placement="top" 
    	data-content="The recommended language(s) for the question to be answered in.">
    	Language
    	</a>
    </th>
  </tr>

<% @questions.each do |question| %>
  <tr>
    <td class="span1"><%= question.votes %></td>
    <td class="span1"><%= question.category_name %></td>
    <td class="span5"><%= question.qtext %></td>
    <td class="span1"><%= question.difficulty %></td>
    <td class="span1"><%= question.language_name %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Question', new_question_path %>
