<%= form_for(user, html: {class: "form-horizontal"}) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field control-group">
    <div class="control-label"><%= f.label :name %></div>
    <div class="controls"><%= f.text_field :name %></div>
  </div>
  <div class="field control-group">
    <div class="control-label"><%= f.label :email %></div>
    <div class="controls"><%= f.text_field :email %></div>
  </div>
  <div class="form-actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
