<!DOCTYPE html>
<html>
<head>
	<title>Coding Qs</title>

	<%= stylesheet_link_tag    "application", :media => "all" %>

	
	<%= javascript_include_tag "application" %>

	<%= csrf_meta_tags %>

</head>

<body>
	<div id="wrapper">
		<div class="navbar navbar-fixed-top">
		  <div class="navbar-inner">
			<div class="container">
			  <a href="/" class="brand"><span>Coding Qs</span></a>
			  <div class="nav-collapse">
				<ul class="nav">
				  <li id="questions"><%= link_to "Questions", questions_path %></li>
				  <% if user_signed_in? %>
				  <li id="users"><%= link_to "Profile", edit_user_path(current_user.id) %></li>
				  <% end %>
				</ul>
	              <% if user_signed_in? %>
	              	<%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-inverse pull-right' %>
	              <% else %>
	              	<%= form_for(User.new, url: session_path(:user), html: { class: 'navbar-form pull-right' }) do |f| %>
	              		<%= f.email_field :email, placeholder: "Email" %>
	              		<%= f.password_field :password, placeholder: "Password" %>
	              		<%= f.submit 'Sign in', class: 'btn btn-primary' %>
	              	<% end %>
	              <% end %>
			  </div><!-- /.nav-collapse -->
			</div><!-- /.container -->
		  </div><!-- /.navbar-inner -->
		</div><!-- /.navbar -->

		<div class="container">
			<% if alert %>
				<div class="alert alert-error"><%= alert %></div>
			<% end %>
			<% if notice %>
				<div class="notice notice-error"><%= notice %></div>
			<% end %>		

			<%= yield %>
		</div>

		<footer>
			<hr />
				<p>&copy; Coding Qs 2012</p>
				<p>CIS196 Project by <a href="http://mikepatt.org">Mike Patterson</a></p>
		</footer>
	</div> <!--  closes wrapper div -->
</body>
</html>
