<!DOCTYPE html>
<html>
<head>
	<title>Coding Qs</title>

	<!--<%= stylesheet_link_tag    "application", :media => "all" %>-->

	
	<%= javascript_include_tag "application" %>
	<%= javascript_include_tag "bootstrap-alert" %>
	<%= javascript_include_tag "bootstrap-dropdown" %>
	<%= javascript_include_tag "chosen.jquery" %>
	<%= javascript_include_tag "jquery-1.7.1.min" %>
	<%= javascript_include_tag "ready" %>
	<%= javascript_include_tag "spinner" %>
	<%= javascript_include_tag "table" %>

	<%= csrf_meta_tags %>
</head>

<body>
	<div id="wrapper">
		<div class="navbar navbar-fixed-top">
		  <div class="navbar-inner">
			<div class="container">
			  <a href="http://cQs.heroku.com" class="brand"><span>Coding Qs</span></a>
			  <div class="nav-collapse">
				<ul class="nav">
				  <li id="questions"><a href="/">Questions</a></li>
				  <li id="users"><a href="/users">Users</a></li>
				  <li id="categories"><a href="/categories">Categories</a></li>
				  <li id="languages"><a href="/languages">Languages</a></li>
				</ul>
			  </div><!-- /.nav-collapse -->
			</div><!-- /.container -->
		  </div><!-- /.navbar-inner -->
		</div><!-- /.navbar -->

		<%= yield %>

		<footer>
			<hr />
				<p>&copy; Coding Qs 2012</p>
				<p>CIS196 Project by <a href="http://mikepatt.org">Mike Patterson</a></p>
		</footer>
		
	</div> <!--  closes wrapper div -->
</body>
</html>
