<!DOCTYPE html>
<html>
<head>
	<title>Coding Qs</title>

	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= stylesheet_link_tag    "bootstrap", :media => "all" %>
	<%= stylesheet_link_tag    "base", :media => "all" %>
	<%= stylesheet_link_tag    "chosen", :media => "all" %>
	<%= stylesheet_link_tag    "style", :media => "all" %>
	
	<%= javascript_include_tag "application" %>
	<%= javascript_include_tag "bootstrap-alert" %>
	<%= javascript_include_tag "bootstrap-dropdown" %>
	<%= javascript_include_tag "chosen.jquery" %>
	<%= javascript_include_tag "jquery-1.7.1.min" %>
	<%= javascript_include_tag "ready" %>
	<%= javascript_include_tag "spinner" %>
	<%= javascript_include_tag "table" %><!---->

	<%= csrf_meta_tags %>
</head>

<body>
	<div id="wrapper">
		<div class="navbar navbar-fixed-top">
		  <div class="navbar-inner">
			<div class="container">
			  <a href="http://codingQs.heroku.com" class="brand"><span>Coding Qs</span></a>
			  <div class="nav-collapse">
				<ul class="nav">
				  <li id="browse"><a href="<?php echo ROOT ?>/list.php">List Meals</a></li>
				  <li id="build"><a href="<?php echo ROOT ?>/buildmeal.php">Build a Meal</a></li>
				  <li class="dropdown" id="addmenu">
					<a class="dropdown-toggle" data-toggle="dropbox" href="addmenu">
					  Add<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						  <li id="addDish"><a href="<?php echo ROOT ?>/add/dish.php">Dish</a></li>
						  <li id="addRecipe"><a href="<?php echo ROOT ?>/add/recipe.php">Recipe</a></li>
						  <li id="addIngredient"><a href="<?php echo ROOT ?>/add/ingredient.php">Ingredient</a></li>
					</ul>
				  </li>
				  <li class="dropdown" id="browsemenu">
					<a class="dropdown-toggle" data-toggle="dropbox" href="browsemenu">
					  Browse Recipes<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						  <li id="browseByCuisine"><a href="<?php echo ROOT ?>/browseByCuisine.php">By Cuisine</a></li>
						  <li id="browseByDish"><a href="<?php echo ROOT ?>/browseByDish.php">By Dish</a></li>
						  <li id="browseByDiet"><a href="<?php echo ROOT ?>/browseByDiet.php">By Diet</a></li>
					</ul>
				  </li>		  
				  <li id="yourRecipes"><a href="<?php echo ROOT ?>/recipes.php">Your Recipes</a></li>
				  <script type="text/javascript">
					$(".dropdown-toggle").dropdown();
				  </script>
				</ul>
				<div class="pull-right">
				  <ul class="nav">
					<?php if(isset($_SESSION["userID"])) { ?>
					  <li><a onclick="FB.logout()" href="<?php echo ROOT ?>/logout.php">Log out</a></li>
					<?php } else { ?>
					  <li id="login"><a href="<?php echo ROOT ?>/login.php">Log in</a></li>
					<?php } ?>
				  </ul>
				</div>
			  </div><!-- /.nav-collapse -->
			</div><!-- /.container -->
		  </div><!-- /.navbar-inner -->
		</div><!-- /.navbar -->

		<%= yield %>

		<footer>
			<hr />
				<p>&copy; Coding Qs 2012</p>
				<p>CIS196 Project by <a href="http://mikepatt.org">Mike Patterson</a></p>
		</footer>
		
	</div> <!--  closes wrapper div -->
</body>
</html>
